/* Declaration Couleurs */
$mainColor: #dd214c;
$secondColor: #ffffff;
$lastColor: #d2d2d2;

/* Police */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$fontfamilyMedium: "Poppins", sans-serif;
$fontfamilyRegular: "Poppins", sans-serif;
