@mixin padGap {
  padding: 16px;
  gap: 16px;
}

@mixin newPadGap {
  padding: 54px;
  gap: 54px;
}

@mixin centre {
  text-align: center;
  align-items: center;
}

@mixin bloxCentre {
  text-align: center;
  align-items: center;
  text-align: center;
}

@mixin iconTxt {
  flex-flow: row-wrap;
}

@mixin logo {
  width: 4.5vh;
  height: 4.5vh;
}

@mixin horizontal {
  display: flex;
  flex-direction: row;
}

@mixin whiteGradient {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
}

@mixin borderMain {
  border: 1px solid $mainColor;
}

$box-shadow-left: -10px 10px 20px 0px rgba(0, 0, 0, 0.1);
$box-shadow-right: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);
$box-shadow-bottom: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);

$gap-4: 4rem;

$radius-12: 12px;
$radius-24: 24px;

$tablette-screen: 768px;
$desktop-screen: 1024px;

/* Declaration Couleurs */
$mainColor: #dd214c;
$secondColor: #ffffff;
$lastColor: #d2d2d2c4;
$blanc: #ffff;

/* Police */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
$fontfamilyMedium: "Poppins", sans-serif;
$fontfamilyRegular: "Poppins", sans-serif;

$desktop: 1024px;
$tablette: 768px;
$mobile: 390px;
